.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.my-form{
    width: 20vw;    
    padding: 2em 4em;
    margin-right: 10em;
    box-shadow: 0 0 20px 0 black;
}
.doctor{
    background-image: url("doctor.jpg");
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}